.detail-card{
    background-color:#28B463;
    width:80%;
    margin:0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding:20px ;
}
.detail-name-id{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 10px;

}
.id-detail{
    margin-right: 10px;
    margin-top: 15px;
}
.type-details{
    text-align: center;

}
.name-detail{
    margin-top: 12px;
}
.center-img{
    display: flex;
    justify-content: center;
}
.img-detail{
    margin: 0 auto;
}
.description-details{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    border-radius: 15px;
    margin: 0 auto;
    color: aliceblue;
    padding: 10px;
}
.details-stats{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
}
.habitat-box{
    background-color:#4169E1 ;
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.habitat-details{
    text-align: center;
    margin-top: 15px;
}